.card {
  margin: 3% auto;
  overflow: auto;
  max-width: 70%;
  min-height: max-content;
}
.card-mobile {
  margin: 20% auto;
  overflow: auto;
  max-width: 70%;
  min-height: max-content;
}
.login-image {
  object-fit: contain;
  height: 100%;
  border-radius: 2%;
}
.login-form {
  min-width: 300px;
}
.login-form-mobile {
  min-width: 100%;
}
.login-matField {
  width: 100%;
}
.submit-button {
  width: 30%;
}
.submit-button-mobile {
  width: 100%;
  justify-content: center;
}
.signup-link {
  padding-bottom: 5%;
  padding-top: 5%;
  text-align: center;
}
.headline-mobile {
  padding-top: 5%;
  text-align: center;
}
