<div class="confirmed">
    <div class="confirmed__icon">
        <img src="/undraw_subscribe_vspl.svg" alt="letter">
    </div>
    <div class="confirmed__text">
        <h1>Hello {{{Name}}} </h1>
        <div>
            <p>
                Your mail <strong> {{{Email}}} <strong/> has been confirmed.
            </p>
            <div>
                Use this token
                <div class="code">
                    <strong>
                        {{{Token}}}
                    </strong>
                </div>
                in the headers with <b>key =</b> <i>auth-token</i> and <b>value =</b> <i>the token provided here</i> for all the subsequent requests you make until you sign out.
            </div>
        </div>
    </div>
</div>
